.app {
  justify-content: center;
}

.app_title {
  text-align: center;
  text-decoration: underline;
}

.app_pic {
  height: 200px;
}

.beer_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
